@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
@layer base {
  html {
    font-family: "Hind Madurai", sans-serif;
  }
}
body {
  @apply bg-gray-50 text-zinc-500;
}
/* p {
  @apply my-2 text-sm font-medium leading-5 mb-9 text-zinc-500;
} */

/* h1,
h2,
h3 {
  @apply tracking-wide;
}
h1 {
  @apply mb-3 text-4xl font-bold text-zinc-50;
}
h2 {
  @apply mb-3 text-xl font-semibold text-zinc-200;
}
h3 {
  @apply text-base font-semibold text-zinc-200;
}
p {
  @apply tracking-wide;
}
ul {
  @apply my-2 ml-8 list-disc mb-9;
}
li {
  @apply mb-1.5 text-sm font-medium leading-5 text-zinc-500;
} */

ul {
  @apply my-2 list-disc ml-7 mb-9;
}
li {
  @apply mb-1.5 text-sm leading-5 tracking-wide text-gray-500;
}
li::marker {
  @apply text-gray-200;
}
input::placeholder {
  @apply flex items-center text-sm font-normal text-gray-300 align-middle;
}

h1 {
  @apply text-4xl font-bold leading-none text-gray-900;
}

h2 > a {
  @apply text-2xl font-bold text-gray-900 hover:text-inherit hover:underline;
}
h2 {
  @apply mb-5 text-5xl font-bold text-gray-900;
}
ul {
  @apply mt-1 mb-0;
}
p {
  @apply mb-3 text-sm leading-5 tracking-wide text-gray-500;
}
a {
  @apply text-sm leading-5 tracking-wide text-indigo-200 duration-200 hover:cursor-pointer hover:text-indigo-300;
}
